* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e199;
}

#main-cont {
    background-color: white;
    height: 70%;
    margin: 2em;
    padding: 1em;
    border-radius: 15px;
}

h1, h2 {
    font-family: Cabin;
}

p {
    font-family: Merriweather;
    padding: 1em 0;
}

header {
    padding: 0 0 1em 0;
    border-bottom: 1px dotted black;
}

#outputs {
    margin: 1em 0;
    padding: 1em 1em 1em 2em;
}

#outputs > li {
 border-top: 1px dotted gray;
}


#inputs {
    margin: 1em 0;
    padding: 1em 1em 1em 2em;
    border-bottom: 1px dotted gray;
}

#inputs > li {
    margin: 1em 0;
    padding: 1em 1em 1em 2em;
    border-bottom: 1px dotted gray;
}