* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e199;
}

#main-cont {
    background-color: white;
    height: 70%;
    margin: 2em;
    padding: 1em;
    border-radius: 15px;
}
    

h1, h2 {
    font-family: Cabin;
}

p {
    font-family: Merriweather;
    padding: 2em 0;
}

header {
    text-align: center;
    padding: 0 0 1em 0;
    border-bottom: 2px dotted grey;
}

main {
    padding: 1em 1em 1em 0;
    border-right: 1px dotted grey;
}

aside {
    padding: 1em;
    flex-basis: 500px;
}

footer {
    padding-top: 0.5em;
    border-top: 1px dotted black;
}

#text {
    display: flex;
}

@media screen and (max-width: 1000px) {
    #text {
        flex-direction: column;
    }

    main {
        border-right: none;
        border-bottom: 1px dotted grey;
    }

    aside {
        padding: 1em 1em 1em 0;
    }
}